*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main{
  padding: 0px 0;
  width: 100%;
  background-image: url('https://i.imgur.com/LglW7C4.png');
  background-position: center;
  background-size: cover;
  min-height: 960px;
}

.center{
  max-width: 960px;
  margin:20px auto;
  padding: 0 2%;
  
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.info{
  margin: 65px;
}
.info h3{
  color: black;
  text-decoration: none;
  padding-left: 0%;
  font-family: 'Fuzzy Bubbles', cursive;
}

.logo{
  margin-bottom: 0px;
  padding: 3px 8px;
  padding-bottom: 3px 8px;
}

.logo img{ 
  width: 260px;
  height: 260px;
}

